:root {
    --main-bg: #ececec;
    --nav-bg: rgba(219, 219, 219, .8);
    --nav-bg-hover: rgba(173, 173, 173, .8);
    --nav-text-hover: rgba(111, 117, 128, .6);
    --nav-active: rgba(49, 54, 61, .6);
    --nav-border-radius: 0rem 0rem .75rem .75rem;
    --nav-height: 6rem;
    --nav-v-pad: .5rem;
    --night-tile-bg: #b58abb;
    --day-tile-bg: #d6293d;
    --time-tile-bg: #43bc93;
    --hum-tile-bg: #3a8fc5;
    --fancy-font: "Courgette", cursive;
    --dopey-font: "Bangers", cursive;
    --main-font: "Josefin Sans", sans-serif;
    --subtle-shadow: 0 1px 5px 0 grey;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: var(--main-bg) !important;
    margin: 0;
    height: 100vh;
}
ul {
    margin: 0;
    padding: 0 !important;
    list-style: none;
}
p {
    font-family: var(--main-font);
}
.error-msg {
    width: fit-content;
    box-shadow: var(--subtle-shadow);
    border: 1px solid #f5c2c7;
    border-radius: var(--nav-border-radius);
    font-family: var(--main-font);
}
.button {
    display: block;
    background-color: var(--nav-text-hover);
    font-family: var(--dopey-font);
    font-size: 25px;
    border: solid black 0.5px;
    box-shadow: var(--subtle-shadow);
    color: black;
    padding: 10px 10px;
    border-radius: var(--nav-border-radius);
    transition: background-color 350ms ease, color 400ms ease-in;
}
.button:hover {
    background-color: var(--nav-active);
    color: #aad5fa;
    transition: background-color 400ms ease, color 350ms ease-in;
}
.fancy {
    font-family: var(--fancy-font);
    font-weight: 600;
}
.dopey {
    font-family: var(--dopey-font);
}
.main-text {
    font-family: var(--main-font);
}
.bold-text {
    font-weight: 600;
}
.paragraph-large {
    font-size: 22px;
}
