section#nav-bar {
    height:  var(--nav-height);
    box-shadow: var(--subtle-shadow);
    margin-bottom: 5rem;
}
grid-container#nav-container {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-gap: 10px;
    grid-template-areas: "column-1 column-2 column-3";
    height: var(--nav-height);
}
grid-item#nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
grid-item#nav-buttons a {
    font-size: 30px;
}
nav li {
    display: inline-block;
    position:  relative;
}
nav ul a {
    text-decoration: none;
    font-family: var(--dopey-font);
    color: black;
    display:  block;
    padding: var(--nav-v-pad) 2.5rem;
    border-radius: var(--nav-border-radius);

    transition: background-color 150ms ease-in,
        color 300ms ease-out;
}
nav ul a:hover {
    color: var(--nav-text-hover);
}
nav a::after {
    content: "";
    position: absolute;
    background-color: var(--nav-active);
    height: .3rem;
    bottom: 0;
    left: 10%;
    width: 80%;
    border-radius: var(--nav-border-radius);
    transform: scaleX(0);
    transition: transform 350ms ease;
}
nav a:hover::after {
    transform: scaleX(1);
    transition: transform 350ms ease;
}
nav a.active::after {
    transform: scaleX(1);
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo div {
    height: calc(var(--nav-height) - 1.9rem);
    width: 118px;
    border: 3px solid grey;
    box-shadow: var(--subtle-shadow);
    border-radius: var(--nav-border-radius);
}
#logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: var(--nav-border-radius);
}
#user {
    display: flex;
    justify-content: center;
    align-items: center;
}
#user a {
    text-decoration: none;
}
#login-btn {
    min-width: 7rem;
    width: fit-content;
}
.dropdown {
    position: relative;
    display: inline-block;
}
#dropdown-btn {
    min-width: 7rem;
    width: fit-content;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg);
    min-width: 9rem;
    width: fit-content;
    border-radius: var(--nav-border-radius);
    z-index: 1;
    margin-top: .5rem;
}
.dropdown-content a {
    box-shadow: var(--subtle-shadow);
    margin-top: .25rem;
    color: black;
    padding: 5px 0 !important;
    text-decoration: none;
    display: block;
}
.show {
    display:block;
}
