.config-content {
    max-width: 95vw;
    margin: 0 auto;
}
.config-row {
    display: flex;
    gap: 8rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}
.save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#save-btn {
    width: calc(var(--tile-width) * 2 + 8rem);
}


/* ### TILE SECTION ### */
.tile {
    position: relative;
    width: var(--tile-width);
    height: 200px;
    text-align: center;
    box-shadow: var(--subtle-shadow);
    border-radius: var(--nav-border-radius);
}
.tile input {
    text-align: center;;
    font-size: 30px;
    margin-top: 5%;
    border: none;
    width: 50%;
}
.tile input:focus {
    outline: none;
}
.tile label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    width: 100%;
    margin-top: 0;
}
.is-invalid {
    border: 5px red solid;
}
.tile.day-temp {
    background-color: var(--day-tile-bg);
}
.tile.day-temp input {
    background-color: var(--day-tile-bg);
}
.tile.night-temp {
    background-color: var(--night-tile-bg);
}
.tile.night-temp input {
    background-color: var(--night-tile-bg);
}
.tile.time {
    background-color: var(--time-tile-bg);
}
.tile.time input {
    background-color: var(--time-tile-bg);
    margin-left: 20px;
}
.tile.humidity {
    background-color: var(--hum-tile-bg);
}
.tile.humidity input {
    background-color: var(--hum-tile-bg);
}
.up-arrow {
    background-color: #ececec;
    cursor: pointer;
    border-radius: var(--nav-border-radius);
    width: 20%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 350ms ease, color 400ms ease-in;
}
.chev {
    vertical-align: middle;
}
.down-arrow {
    position: absolute;
    bottom: 0;
    background-color: #ececec;
    cursor: pointer;
    border-radius: .75rem .75rem 0 0;
    width: 20%;
    height: 40px;
    right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 350ms ease, color 400ms ease-in;
}   
.up-arrow:hover,
.down-arrow:hover {
    background-color: var(--nav-active);
    color: #aad5fa;
    transition: background-color 400ms ease, color 350ms ease-in;
}
