{% extends "base.html" %}

{% block container %}

    <section id="habitat">
        <grid-container id="habitat-container">
            <grid-item class="habitat-item" id="habitat-side-item">
                <nav class="side-panel">
                    <h5 id="env-header" class="mt-2 dopey">Environment Panel</h5>
                    <ul>
                        <li class="side-nav-pill">
                            <a class="text-center {% if content == 'reading' %}active{% endif %}" href="{{ url_for('habitat.readings') }}">Readings</a>
                        </li>
                        <li class="side-nav-pill">
                            <a class="text-center {% if content == 'config' %}active{% endif %}" href="{{ url_for('habitat.config') }}">Config</a>
                        </li>
                        <li class="side-nav-pill">
                            <a class="text-center {% if content == '' %}active{% endif %}" href="{{ url_for('habitat.readings') }}">Content 3</a>
                        </li>
                        <li class="side-nav-pill"><a class="text-center" href="{{ url_for('habitat.readings') }}">Content 4</a></li>
                        <li class="side-nav-pill"><a class="text-center" href="{{ url_for('habitat.readings') }}">Content 5</a></li>
                    </ul>
                </nav>
            </grid-item>
            <grid-item class="habitat-item" id="habitat-main-item">
                {% block content %}{% endblock %}
            </grid-item>
        </grid-container>
    </section>
    
{% endblock %}

